<%- include("header") -%>

<div class="header">
    <h2>This page about myshelf</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sit doloremque beatae reiciendis autem labore nisi! Rerum explicabo similique totam! Nesciunt suscipit ex voluptas voluptate modi, blanditiis distinctio? Cumque, quibusdam.</p>    
</div>


<%- include("footer") -%>